#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-container {
  /* margin-top: 5%; */

  /* 이 코드들도 필요한 내용은 아닙니다. */
  /* height: 850px;
  width: 410px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  /* 01transform 개념..*/
  text-align: center;
  /* 의미없이 빈 공간을 두는 건 좋지 않습니다. */
}

.main-container h1 {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.main-container a {
  text-decoration: none;
  color: black;
}

.input-box {
  display: flex;
  flex-direction: column;

}

.input-box input {
  width: 100%;
  box-sizing: border-box;
  /* 02box-sizing 개념...*/
  height: 47px;
  text-indent: 12px;
  margin-top: 5px;
  font-size: 18px;
  margin-bottom: 3%;
  outline: none;
}

.checkbox-box {
  display:inline-flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  margin-bottom: 3%;
}

.checkbox-box div {
  display: flex;
  align-items: center;

}

.ul-box1 button{
  width: 100%;
  height: 60px;
  background-color: red;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 22px;
  margin-bottom: 3%;
  font-weight: 500;
}

.ul-box1 li {
  border-radius: 10px;
}

.ul-box1 img {
  width: 100%;
  height: 60px;
  border-radius: 10px;
}

.ul-box2 {
  display: flex;
  justify-content: center;
}

.ul-box2 a{
  font-size: 16px;
  padding-left: 16px;
}

.border-right {
  border-right: 1px solid black;
  padding:0 20px;
  transform: rotate(-45deg);

}
.non_sign_up {
  font-size: 16px;
}

