#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-container {
  /* margin-top: 5%; */

  /* 이 코드들도 필요한 내용은 아닙니다. */
  /* height: 850px;
  width: 410px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  /* 01transform 개념..*/
  text-align: center;
  /* 의미없이 빈 공간을 두는 건 좋지 않습니다. */
}

.main-container h1 {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.main-container a {
  text-decoration: none;
  color: black;
}

.input-box {
  display: flex;
  flex-direction: column;

}

/* input, checkobx, ul 등 요소 이름을 class 선택자로 활용하는 것은 좋지 않은 것 같습니다. */
/* selector 네이밍 관련해선 BEM을 한 번 살펴보시는 걸 추천드립니다. */
/* http://getbem.com/ */
.input-box input {
  width: 100%;
  box-sizing: border-box;
  /* 02box-sizing 개념...*/
  height: 47px;
  text-indent: 12px;
  margin-top: 5px;
  font-size: 18px;
  margin-bottom: 3%;
  outline: none;
}

.checkbox-box {
  display:inline-flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  margin-bottom: 3%;
}

.checkbox-box div {
  display: flex;
  align-items: center;

}

.ul-box1 button{
  width: 100%;
  height: 60px;
  background-color: red; /* 버튼 색상을 빨간색으로 하고 폰트 색상을 검은색으로 하니 시각적으로 좋지 않은 것 같습니다.(좋지 않은 UX) */
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 22px;
  margin-bottom: 3%;
  font-weight: 500;
}

.ul-box1 li {
  border-radius: 10px;
}

.ul-box1 img {
  width: 100%;
  height: 60px;
  border-radius: 10px;
}

.ul-box2 {
  display: flex;
  justify-content: center;
}

.ul-box2 a{
  font-size: 16px;
  padding-left: 16px;
}

.border-right {
  /* pseudo 선택자를 사용하면 클래스를 사용하지 않더라도 구분선을 넣어줄 수 있습니다. */
  /* :nth-of-type 또는 nth-child 등을 사용해보시는 걸 추천드립니다. */
  /* 또한 측면에 border를 넣는 방법도 있지만 ::after, ::before 등을 활용해서 만들 수도 있습니다. */
  border-right: 1px solid black;
  padding:0 20px;
  transform: rotate(-45deg);

}
.non_sign_up { /* 어느 선택자에선 - 를 구분자로 사용하고 여기에선 _ 를 사용하고 있는데 일관성 있게 관리해주세요. */
  font-size: 16px;
}

