/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body { /* html,body -> html, body */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  margin: 0;
  padding: 0;
  height: 100%;
  /* width: 1920px; */ /* 반응형으로 개발한다면 필요한 내용은 아닙니다. 추후에 더 자세히 피드백하겠습니다. */
  /* height: 1080px; */ /* 페이지를 작성할 때 높이는 필요한 경우에 설정하게 되는데 이렇게 기본 값으로 넣어주진 않습니다. */
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

/*button {*/
/*  border: none;*/
/*  background-color: transparent;*/
/*}*/

.inputBoxRed {
  display: block;
  width: 100%;
  color: red;
}
.inputBoxBlue {
  display: block;
  width: 100%;
  color: blue;
}

html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  font-size: 26px;

}